@import 'theme';

.pipeline {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;

  h1 {
    color: #FFF;
    flex: 0 0 100%;
    margin: 0 0 1rem 0;
    font-size: 3rem;
    text-align: center;
    border-radius: 4px;
    padding: 0.5rem 0;
  }

  &.status-failure h1 {
    @include color-failure(background-color);
  }
}