@import 'theme';

.stage {
  flex: 1 0 20%;
  height: 6rem;
  margin: 4px;
  padding: 4px 8px;
  border-radius: 4px;
  text-align: center;
  color: #FFF;
  font-size: 2rem;

  &.status-success {
    @include color-success(background-color);
  }

  &.status-failure {
    @include color-failure(background-color);
  }

  &.status-progress {
    @include color-progress(background-color);
  }

  &.status-pending {
    @include color-pending(background-color);
  }
}