@import 'theme';

.stage {
  flex: 1 0 16%;
  height: 2rem;
  margin: 4px;
  padding: 4px 8px;
  border-radius: 4px;
  text-align: center;
  color: #FFF;

  &.status-success {
    @include color-success(background-color);
  }

  &.status-failure {
    @include color-failure(background-color);
  }
}